@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));  /* <-- add this line */

html, body {
  width: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
